@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
* {
  font-family: Poppins;
}

p,button,input {
  font-size: 13px !important;
}

h-group {
  font-size: 17px !important;
}

.alert {
  font-size: 10px;
  margin: 0;
  padding: 0px 10px;
  justify-content: space-between;
}
.list-none {
  list-style-type: none;
}

.customerDetails {
  font-size: 13px;
  justify-content: space-between;
}
